<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <title>Dashboard</title>
</head>     
<body>
    <div class="wrapper">
        <div class="page">
          <aside class="lateral">
            <a href="">
              <img class="icon" src="/Doc.svg" alt="">
            </a>
            <a href="">
              <img class="icon" src="/files.svg" alt="">
            </a>
            <a href="">
              <img class="icon" src="/calendar.svg" alt="">
            </a>
          </aside>
          <main>
            <header>
              <div class="username">
                <img src="/user-128.svg" alt="">
                <h1>User</h1>
              </div>
            </header>
            <div id="cases" class="cases">
              <% cases.forEach(case => { %>
                <div class="card">
                  <div class="upper-card-body">
                    <h5 class="card-title"><%= cases.nombre %><%= apellido %></h5>
                    <p class="cargo"><%= cargo %></p>
                  </div>
                  <div class="lower-card-body">
                    <div class="left">
                      <h5 class="card-text">Caso aperturado el día:</h5>
                      <p class="card-text"><%= apertura %></p>
                    </div>
                    <div class="right">
                      <a href="#" id="go-details" class="btn btn-primary">Detalles del caso</a>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
          </main>
        </div>
    </div>
</body>
</html>