<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bootstrap.min.css">
 
    <title>Dashboard</title>
</head>     
<body>
    <div class="wrapper">
        <div class="page">
          <aside class="lateral">
            <a href="">
              <img class="icon" src="/Doc.svg" alt="">
            </a>
            <a href="">
              <img class="icon" src="/files.svg" alt="">
            </a>
            <a href="">
              <img class="icon" src="/calendar.svg" alt="">
            </a>
          </aside>
          <main>

            <header>
              <div class="username">
                <img src="/user-128.svg" alt="">
                <h1><%= nombre %></h1>
              </div>
            </header>
            <div class="cases">     
            <% casos.forEach((caso, index) => { %>
                     
                <div class="card">            
                  <div class="upper-card-body">            
                    <h5 class="card-title"><%= caso.nombre %> <%= caso.apellido %></h5>            
                    <p class="cargo"><%= caso.cargo %></p>            
                  </div>            
                  <div class="lower-card-body">            
                    <div class="left">            
                      <h5 class="card-text">Caso aperturado el día:</h5>            
                      <p class="card-text"><%= caso.apertura %></p>            
                    </div>            
                    <div class="right">            
                      <button id="boton" class="btn-detalles" data-index="<%= index %>">Detalles</button>            
                    </div>            
                  </div>            
                </div>
                
            <% }); %>
            <div class="detalles">

            </div>
          </div>    
          </main>
        </div>
    </div>
    <script>
const casos = <%- JSON.stringify(casos) %>;
console.log(casos);

const botonesDetalles = document.querySelectorAll('.btn-detalles');
 // Asigna el array de casos a una variable

function cargardetalles(caso) {
  const detalles = document.querySelector('.detalles');
  const article = document.createElement('article');
  article.innerHTML = `
    <div id="fondo" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);"></div>
    <div id="ventana" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #fff; padding: 20px; border: 1px solid #ddd; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
      <div class="grilla_detalle">
        <h3>Nombre ${caso.nombre}</h3>
        <p>Contenido de la ventana</p>
      </div>
      <button id="cerrar">Cerrar</button>
    </div>
  `;

  detalles.appendChild(article);
  const fondo = article.querySelector('#fondo');
  const ventana = article.querySelector('#ventana');
  const cerrar = article.querySelector('#cerrar');
  fondo.style.display = 'block';
  ventana.style.display = 'block';
  cerrar.addEventListener('click', () => {
    ventana.style.display = 'none';
    fondo.style.display = 'none';
  });
}


botonesDetalles.forEach((boton, index) => {
  boton.addEventListener('click', () => {
    const casoIndex = boton.dataset.index;
    const caso = casos[casoIndex]; // Accede al objeto caso correspondiente
    cargardetalles(caso);
  });
});
    </script>
</body>
</html>