:root{
    --white:#ffff ;
    --black: #000;
    --gray:#b4b4b4;
    --midgray:#b4b4b462;
    --darkergray:#424242;
    --rojo:#d2322d; ;
    --blue:#2011f3;
    padding: 0 0;
    
}
 * {
    font-family: Arial, Helvetica, sans-serif;
        padding: 5px 5px;
}
body{
    background-color: var(--darkergray);
}
.wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}
.container{
width:100% ;
height: 100%;
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.logo{
    position: absolute;
    left: 0;    
    top: 0;
}   
.logo img{
    width: 300px;
}
.log{
    width: 40%;
    background-color: var(--white);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wellcome{  
font-size: xx-large;
text-align: center;
margin-bottom: 5px;
}
.wellcome2{
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
    color: var(--darkergray);
}
.logon{
    display:grid ;
}
.logform{
width: 90%;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.fieldescript{
    font-size: large;
    font-weight: 550;
}
.forminput{
    color: var(--darkergray);
    border-color: var(--midgray);
    border-radius: 10px;
    background-color: var(--gray);
    font-size: 20px;
    width: 400px;
    padding: 5px 5px;
}
.submit{
    width: 200px;
    height: 50px;
    border-style: none; 
    border-radius: 20px;
    font-size: 20px;
    color: var(--white);
    margin-bottom: 10px;
    background-color: var(--rojo);
    justify-self: center;
    align-self: center;
} 
.submit:hover{
    background-color: var(--blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
/* css que respecta al login */
.page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
}
main{
    padding: 0;
    width: 100%;
    height: 100%;
}
.lateral{
    background-color: var(--darkergray);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 7%;
    height: 100%;
}
.lateral a{
    padding: 20px 0;
}
.icon{
    width: 75px;
    fill: var(--white);
    stroke: var(--white);
}
header{ 
    width: 100%;
    background-color: var(--white);
    padding: 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.username{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.username h1{
    margin-left:10px ;
   text-align: center;
   align-self: center;
}
.username img{
    width: 100px;
    align-self: center;
    border-radius: 50%;
    border: 5px solid #424242;
}
.cases{
    padding: 30px 30px;
    background-color: var(--midgray);
    height: 100%;
    width: 100%;
 }
 .card{
    width:100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.card-title{
    font-weight: 700;
    margin:1px 0px;
    padding: 0 0;
}
.cargo{
    margin: 0 0;
    padding: 0 0;
}
.lower-card-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.lower-card-body .left{
display: flex;
flex-direction: column;
}
.right{
    padding: 0;
    align-self: center;
}
.card-text {
    padding: 0 0;
    font-weight: 700;
}
#go-details{
   margin-right: 30px;
}
#ventana{
    height: 800px;
    width: 1600px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.fila{
    display: flex;
    flex-direction: row;
}